/*reset de css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilos generales*/
body {
  background-color: #eae9db;
  font-family: "Montserrat", serif;
}

/* mobile first */
/* estilos de header */
.header-index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.header-index img {
  height: 400px;
  width: 400px;
}

/* estilos de main */
main .menu-index ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
main .menu-index ul li {
  padding: 20px;
  margin: 5px;
  text-align: center;
  align-content: center;
}
main .menu-index ul li a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", serif;
  color: #c18769;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
}

/* estilos de footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 20%;
  width: 100%;
  gap: 15px;
  padding: 1rem;
  border-top: 5px #d4b56d solid;
  background-color: #eae9db;
}
footer a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", serif;
  color: #c18769;
  font-weight: 600;
  text-transform: capitalize;
}

.full-container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* media query para Tablet */
@media screen and (min-width: 600px) {
  main .menu-index ul {
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
  }
  footer {
    justify-content: flex-start;
  }
}
/*media query para Desktop */
@media screen and (min-width: 1024px) {
  .header-index {
    margin: 0;
  }
  main .menu-index ul {
    margin-top: 0;
  }
  footer {
    justify-content: flex-end;
  }
}
/* mobile first */
/* estilos de header */
header .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(156, 129, 94, 0.5568627451), transparent);
  padding: 1rem;
}
header .titulo-flex h1 {
  text-align: center;
  font-size: 50px;
  color: #1d1c19;
  padding: 50px;
  background: transparent;
  padding-top: 1rem;
}
header .flex-img img {
  border: 1px solid #d4b56d;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
  height: auto;
  width: 100%;
}

/* estilos de main */
main h2 {
  text-align: center;
  color: #404636;
  font-size: 35px;
  font-style: italic;
  margin: 20px;
}
main p {
  color: #c18769;
  text-align: left;
  margin: 20px 1rem;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  padding: 1rem;
}

/* media query para Tablet */
@media screen and (min-width: 600px) {
  main h2 {
    text-align: left;
    margin-left: 3rem;
  }
}
/* media query para Desktop */
@media screen and (min-width: 1024px) {
  header .flex-container {
    flex-direction: row;
    padding-top: 50px;
  }
  header .titulo-flex h1 {
    padding-top: 25%;
  }
  main h2 {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
