/*reset de css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilos generales*/
body {
  background-color: #eae9db;
  font-family: "Montserrat", serif;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* mobile first */
/* estilos de header */
.header-index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.header-index img {
  height: 300px;
  width: 300px;
}

/* estilos de main */
main .menu-index ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
main .menu-index ul li {
  padding: 20px;
  margin: 5px;
  text-align: center;
  align-content: center;
}
main .menu-index ul li a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", serif;
  color: #c18769;
  font-weight: 400;
  font-size: 21px;
  box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
}

/* estilos de footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 20%;
  width: 100%;
  gap: 15px;
  padding: 1rem;
  border-top: 5px #d4b56d solid;
  background-color: #eae9db;
}
footer a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", serif;
  color: #c18769;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.5s;
}
footer a:hover {
  font-size: 20px;
  text-decoration: underline;
}

/* media query para Tablet */
@media screen and (min-width: 600px) {
  .header-index {
    margin-top: 10%;
  }
  main .menu-index ul {
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
  }
  main .menu-index ul li {
    margin-top: 15%;
  }
  main .menu-index ul li a {
    letter-spacing: 2px;
  }
  footer {
    justify-content: flex-start;
  }
}
/*media query para Desktop */
@media screen and (min-width: 1024px) {
  .header-index {
    margin: 0;
  }
  main .menu-index ul {
    margin: 0;
    height: 50%;
    width: 100%;
  }
  main .menu-index ul li {
    margin: 0;
  }
  main .menu-index ul li a {
    font-size: 18px;
    transition: 0.5s;
  }
  main .menu-index ul li a:hover {
    font-size: 20px;
  }
  footer {
    justify-content: flex-end;
  }
}
/* mobile first sobre nosotros*/
/*estilo del nav*/
.menu ul {
  list-style: none;
}
.menu ul li a {
  color: #eae9db;
  font-family: "Montserrat", serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.menu ul li a:hover {
  text-decoration: underline;
}

/* estilos de header */
header .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(156, 129, 94, 0.5568627451), transparent);
  padding: 1rem;
}
header .titulo-flex h1 {
  text-align: center;
  font-size: 50px;
  color: #1d1c19;
  padding: 50px;
  background: transparent;
  padding-top: 1rem;
}
header .flex-img img {
  border: 1px solid #d4b56d;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
  height: auto;
  width: 100%;
}

/* estilos de main */
main h2 {
  text-align: center;
  color: #404636;
  font-size: 35px;
  font-style: italic;
  margin: 20px;
}
main p {
  color: #c18769;
  text-align: left;
  margin: 20px 1rem;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  padding: 1rem;
}

/* media query para Tablet */
@media screen and (min-width: 600px) {
  main h2 {
    text-align: left;
    margin-left: 3rem;
  }
}
/* media query para Desktop */
@media screen and (min-width: 1024px) {
  header .flex-container {
    flex-direction: row;
    padding-top: 50px;
  }
  header .titulo-flex h1 {
    padding-top: 25%;
  }
  main h2 {
    text-align: center;
  }
}
/* mobile first */
/* estilos de header */
header h1 {
  text-align: center;
  font-size: 50px;
  color: #1d1c19;
  padding: 50px;
  background: linear-gradient(rgba(156, 129, 94, 0.5568627451), transparent);
}

main .servicio {
  display: flex;
  flex-direction: column;
}
main .servicio .texto {
  line-height: 1.5rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  text-align: justify;
}
main .servicio .media img {
  border: 1px solid #d4b56d;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
  height: auto;
  width: 95%;
}
main .servicio .media video {
  height: 50vh;
  width: 95%;
  justify-self: right;
  margin: 1rem;
}

/* media query para Tablet */
@media screen and (min-width: 600px) {
  main .servicio .media {
    display: flex;
    flex-direction: row;
  }
  main .servicio .media img {
    border: 1px solid #d4b56d;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(54, 50, 50, 0.404);
    height: 25%;
    width: 50%;
    align-self: center;
  }
  main .servicio .media video {
    height: 50vh;
    width: 50%;
    justify-self: right;
    margin: 1rem;
  }
}
/* media query para desktop */
@media screen and (min-width: 1024px) {
  main .servicio {
    display: flex;
    flex-direction: row;
  }
  main .servicio .texto {
    height: auto;
    width: 70%;
    align-self: center;
  }
  main .servicio .media {
    flex-direction: column;
    margin-right: 1rem;
  }
  main .servicio .media img {
    height: auto;
    width: 100%;
  }
  main .servicio .media video {
    height: auto;
    width: 55%;
  }
}
/* mobile first */
/*estiolo de main*/
.main-don-raul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.main-don-raul .img-logo img {
  justify-self: center;
  height: auto;
  width: 100%;
}
.main-don-raul .img-menu {
  margin: 1rem;
  justify-self: center;
}
.main-don-raul .mapa {
  margin: 2rem;
}

.text {
  text-align: center;
}

/*media query para Tablet*/
@media screen and (min-width: 600px) {
  .main-don-raul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo logo" "texto texto" "carta mapa";
    grid-gap: 1rem;
  }
  .main-don-raul .img-logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
  }
  .main-don-raul .text {
    grid-area: texto;
  }
  .main-don-raul .img-menu {
    grid-area: carta;
    margin-left: 32px;
  }
  .main-don-raul .mapa {
    grid-area: mapa;
    align-self: center;
    height: auto;
    width: 45dvh;
  }
}
/*media query para Desktop */
@media screen and (min-width: 1024px) {
  .main-don-raul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo logo" "texto carta" "mapa mapa";
    grid-gap: 1rem;
  }
  .main-don-raul .img-logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
  }
  .main-don-raul .text {
    grid-area: texto;
  }
  .main-don-raul .img-menu {
    grid-area: carta;
  }
  .main-don-raul .mapa {
    grid-area: mapa;
    justify-self: center;
  }
}
/* mobile first */
/*header*/
.container .box-info {
  background: linear-gradient(rgba(156, 129, 94, 0.5568627451), transparent);
}
.container .box-info h1 {
  text-align: center;
  font-size: 50px;
  color: #1d1c19;
  padding: 50px;
  font-size: 1.5rem;
}

main form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main form .input-box {
  height: 40px;
  width: 70%;
}
main form .input-box input {
  width: 100%;
  padding: 0 10px;
  outline: none;
  background: rgba(193, 135, 105, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  color: #9C815E;
  transition: 0.3s;
  margin: 1rem;
  border-radius: 4px;
}
main form .input-box input::placeholder {
  color: #1d1c19;
  transition: color 0.3s ease;
}
main form .input-box input:focus::placeholder {
  color: transparent;
}
main form .input-box input:focus {
  border-bottom: 3px solid #d4b56d;
}
main form .input-box input:hover {
  border-bottom: 3px solid #d4b56d;
}
main form .input-box textarea {
  width: 100%;
  padding: 10px;
  background: rgba(193, 135, 105, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  color: #9C815E;
  letter-spacing: 1.5px;
  margin: 1rem;
  border-radius: 4px;
  min-height: 120px;
  resize: none;
}
main form .input-box textarea::placeholder {
  color: #1d1c19;
  transition: color 0.3s ease;
}
main form .input-box textarea:focus::placeholder {
  color: transparent;
}
main form .input-box textarea:focus {
  border-bottom: 3px solid #d4b56d;
}
main form .input-box textarea:hover {
  border-bottom: 3px solid #d4b56d;
}
main form button {
  width: 25%;
  padding: 10px;
  outline: none;
  background: rgba(156, 129, 94, 0.9803921569);
  color: #fff;
  border: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 1rem;
  align-self: center;
  margin: 10%;
  width: 70%;
  border-radius: 4px;
}
main form button:hover {
  background: #d4b56d;
}

/*media query para Tablet */
@media screen and (min-width: 600px) {
  .container .box-info {
    padding-top: 15%;
  }
  .container .box-info h1 {
    text-align: center;
    font-size: 50px;
    color: #1d1c19;
    padding: 50px;
    background: transparent;
  }
}
/*media query para Desktop*/
@media screen and (min-width: 1024px) {
  .container .box-info h1 {
    text-align: center;
    font-size: 50px;
    color: #1d1c19;
    padding: 50px;
  }
  main form button {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
