//import variables
@import "../utilidades/variables";
//import mixin
@import "../utilidades/mixin";

/* mobile first */
/*header*/
.container{
    .box-info{
        @include linear-gradient;
        h1{
            @include h1;
            font-size: 1.5rem;
        }
    }
}
main{
    form{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .input-box{
            @include sizes (70%, 40px);
            input{
                width: 100%;
                padding: 0 10px;
                outline:none;
                background: rgba(193 135 105 / .1);
                border:3px solid transparent;
                letter-spacing: 1px;
                color:#9C815E;
                transition:.3s;
                margin: 1rem;
                border-radius: 4px;
                &::placeholder{
                    color: $title-color;
                    transition: color 0.3s ease;
                }
                &:focus::placeholder {
                    color: transparent;
                }
                &:focus{
                    border-bottom:3px solid $border-color;
                }
                &:hover{
                    border-bottom:3px solid $border-color;
                }
            }
            textarea{
                width: 100%;
                padding: 10px;
                background: rgba(193 135 105 / .1);
                border:3px solid transparent;
                letter-spacing: 1px;
                outline: none;
                color:#9C815E;
                letter-spacing: 1.5px;
                margin: 1rem;
                border-radius: 4px;
                min-height: 120px;
                resize: none;
                &::placeholder{
                    color: $title-color;
                    transition: color 0.3s ease;
                }
                &:focus::placeholder {
                    color: transparent;
                }
                &:focus{
                    border-bottom:3px solid $border-color;
                }
                &:hover{
                    border-bottom:3px solid $border-color;
                }
            }
        }
        button{
            width: 25%;
            padding: 10px;
            outline: none;
            background: #9c815efa;
            color:#fff;
            border:none;
            transition: .1s;
            cursor: pointer;
            font-size: 1rem;
            align-self: center;
            margin: 10%;
            width: 70%;
            border-radius: 4px;
            &:hover{
                background: $border-color;
            }
        }
    }
}

/*media query para Tablet */
@media screen and (min-width:600px){
    .container{
        .box-info{
            padding-top: 15%;
            h1{
                @include h1;
                background: transparent;
            }
        }
    }
}
/*media query para Desktop*/
@media screen and (min-width:1024px){
    .container{
        .box-info{
            h1{
                @include h1;
            }
        }
    }
    main{
        form{
            button{
                width: 50%;
            }
        }
    }
}