//import variables
@import "../utilidades/variables";
//import mixin
@import "../utilidades/mixin";

/* mobile first */
/*estiolo de main*/
.main-don-raul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .img-logo{
        img{
            justify-self: center;
            @include sizes(100%, auto);
        }
        }   
        .img-menu{
            margin: 1rem;
            justify-self: center;
        }
        .mapa{
            margin: 2rem;
        }
    }
    .text{
        text-align: center;
    }

/*media query para Tablet*/
@media screen and (min-width:600px){
    .main-don-raul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:"logo logo" 
                            "texto texto" 
                            "carta mapa";
        grid-gap: 1rem;
        .img-logo{
                grid-area: logo;
                align-self: center;
                justify-self: center;
            }
        .text{
            grid-area: texto;
        }
            .img-menu{
                grid-area: carta;
                margin-left: 32px;
        }
            .mapa{
                grid-area: mapa;
                align-self: center;
                @include sizes (45dvh, auto);
        }
    }
}

/*media query para Desktop */
@media screen and (min-width:1024px){
    .main-don-raul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:"logo logo" 
                            "texto carta" 
                            "mapa mapa";
        grid-gap: 1rem;
        .img-logo{
                grid-area: logo;
                align-self: center;
                justify-self: center;
            }
        .text{
            grid-area: texto;
        }
            .img-menu{
                grid-area: carta;
        }
            .mapa{
                grid-area: mapa;
                justify-self: center;
        }
    }
}