//variables del proyecto

//paleta de colores
$background-color: #eae9db;
$background-gradient: linear-gradient (#9c815e8e, transparent);
$title-color: #1d1c19;
$subtitle-color: #404636;
$text-color: #c18769;
$anchor-color: #eae9db;
$border-color: #d4b56d;
$home-buttons-bg: #d4b56d;

//fonts
$main-font: "Montserrat", serif;

//sombras
$shadow: 0 0 10px rgba(54, 50, 50, 0.404);